
.vac-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vac-del {
    text-align: right;
    margin-right: 10px;
    padding-top: 10px;
}

.vac-edit {
    text-align: right; 
    margin-right: 10px;

}

.vac-dates-edit {
    top: 120px;
    left: 20px;   
}

.vac-price-edit {
    top: 130px;
    left: 20px;
}

.vac-country-edit {
    color: black;
    top: 10px;
    left: 20px;
}

.vac-country-edit-inp {
    color: black;
    top: 160px;
    left: 20px;
}



.del-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1.2rem;
}

.edit-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1.2rem;
}

.input {
    color: black;
}